.container {
  font-family: "Arial", sans-serif;
  color: #333;
  background-color: #1e1e2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.directoryInput {
  padding: 8px;
  font-size: 14px;
  width: 100%;
}

.breadcrumbs {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.breadcrumbButton {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.breadcrumbButton:hover {
  text-decoration: none;
}

.title {
  padding: 5px;
  font-size: 10;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  h4 {
    margin: 0;
    background: linear-gradient(135deg, #ce412b 0%, #f74c00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    letter-spacing: -0.02em;
  }
}
