.container {
  padding: 2px;
  font-family: "Arial", sans-serif;
  color: #333;
}

.directoryInput {
  padding: 8px;
  font-size: 14px;
  width: 100%;
}

.breadcrumbs {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.breadcrumbButton {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.breadcrumbButton:hover {
  text-decoration: none;
}
