@import "../../variables.scss";

.nav {
  @include flex(column);
  gap: 0.5rem;
  width: 100%;
}

.label {
  color: black;
}

.sidebarContainer {
  width: 250px;
  padding: 20px;
  height: 100%;
  background-color: $bg-primary;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
}

.menuItem {
  @include flex(row, flex-start, center);
  gap: 0.75rem;
  padding: 0.75rem;
  border-radius: 6px;
  color: $text-secondary;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include hover-effect;

  &:hover {
    color: $text-primary;
  }

  &.active {
    background: $accent-color;
    color: $text-primary;
  }
}
