@import "../../styles/mixins";

.container {
  @include container;
}

.header {
  @include header;
}

.title {
  @include title;
}

.titleIcon {
  @include titleIcon(#6366f1);
}

.count {
  @include count;
}

.tableWrapper {
  @include tableWrapper;
}

.table {
  @include table;
}

thead {
  @include tableHeader;
}

th {
  @include tableHeaderCell;
}

.colName {
  width: 40%;
  min-width: 200px;
}

.colType {
  width: 15%;
  min-width: 100px;
}

.colModified {
  width: 25%;
  min-width: 180px;
}

.colSize {
  width: 20%;
  min-width: 120px;
  text-align: right;
}

.row {
  @include tableRow;
}

td {
  @include tableCell;
}

.cellName {
  width: 40%;
}

.nameContent {
  @include nameContent;
}

.fileIcon {
  @include fileIcon;
}

.folderIcon {
  @include folderIcon;
}

.fileIconSvg {
  @include fileIconSvg;
}

.fileName {
  @include fileName;
}

.cellType {
  width: 15%;
}

.typeBadge {
  @include typeBadge;

  &.type-directory {
    @include typeBadgeDirectory;
  }

  &.type-file {
    @include typeBadgeFile;
  }

  &.type-symlink {
    @include typeBadgeSymlink;
  }

  &.type-unknown {
    @include typeBadgeUnknown;
  }
}

.cellModified {
  width: 25%;
}

.dateContent {
  @include contentWrapper;
}

.dateIcon {
  @include contentIcon;
}

.cellSize {
  width: 20%;
  text-align: right;
}

.sizeContent {
  @include contentWrapper;
  justify-content: flex-end;
}

.sizeIcon {
  @include contentIcon;
}

.emptyState {
  @include emptyState;
}

.emptyIcon {
  @include emptyIcon;
}

.emptyTitle {
  @include emptyTitle;
}

.emptyText {
  @include emptyText;
}

// Responsive design
@media (max-width: 1024px) {
  .colModified {
    display: none;
  }

  .cellModified {
    display: none;
  }

  .colName {
    width: 50%;
  }

  .colType {
    width: 20%;
  }

  .colSize {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .header {
    padding: $spacing-md $spacing-lg;
  }

  .title {
    font-size: 1.25rem;
  }

  .tableWrapper {
    padding: $spacing-sm $spacing-md;
  }

  .colType {
    display: none;
  }

  .cellType {
    display: none;
  }

  .colName {
    width: 60%;
  }

  .colSize {
    width: 40%;
  }

  th,
  td {
    padding: $spacing-sm $spacing-xs;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-sm;
  }

  .count {
    align-self: flex-end;
  }

  .nameContent {
    gap: $spacing-xs;
  }

  .fileIcon {
    width: 28px;
    height: 28px;
  }

  .folderIcon,
  .fileIconSvg {
    width: 16px;
    height: 16px;
  }
}
