.container {
  padding: 10px;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  background-color: #1e1e2e;
}

.searchInput:focus {
  outline: none;
}
