.flexContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  box-sizing: border-box;
}
.dashboard {
  background-color: black;
  flex: 1;
  padding: 15px;
  color: #fff;
  overflow-y: auto;
  box-sizing: border-box;
  height: 100%;
}
